{% extends "layout.html" %}

{% block content %}
<div class='card'>
  <div class='card-body'>
    <div class='card-title'>
    Ether Price:
    </div>
    <div class='card-text'>
    ${{ eth_price.last }} USD
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col'>
      <div class='card'>
        <div class='card-body'>
          <div class='card-title'>
            Latest Blocks
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
      {% for block in latest_blocks %}
        <li class='list-group-item'>
          Block Num: <a href="/block/{{ block.number }}">{{ block.number}}</a>
          Miner: <a href="/address/{{ block.miner }}">{{ miners[block.miner.lower()] if block.miner.lower() in miners else 'unknown miner'}}</a>
        </li>
      {% endfor %}
    </ul>
    </div>
    <div class='col'>
      <div class='card'>
        <div class='card-body'>
          Latest Transactions
        </div>
      </div>
      {% for transaction in latest_transactions %}
      <div class='card'>
        <div class='card-body'>
          <div class='card-title'>
            <ul>
              <li>tx_hash: <a href="/transaction/{{ transaction.hash }}">{{ transaction.hash[:15] }}</a></li>
              <li>from: <a href="/address/{{ transaction.from }}">{{ transaction.from}}</a></li>
              <li>to: <a href="/address/{{ transaction.to }}">{{ transaction.to}}</a></li>
              <li>value (wei): {{ transaction.value}}</li>
            </ul>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}