{% extends "layout.html" %}

{% block content %}
<div class='card'>
  <div class='card-body'>
    <div class='card-title'>
    Ether Price:
    </div>
    <div class='card-text'>
    ${{ eth_price.last }} USD
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col'>
      <div class='card'>
        <div class='card-body'>
          <div class='card-title'>
            Latest Blocks
          </div>
        </div>
      </div>
      <ul class='list-group list-group-flush'>
      {% for block in latest_blocks %}
      <li class='card'>
        <div class='card-text'>Block Num: <a href="/block/{{ block.number }}">{{ block.number}}</a></div>
        <div class='card-text'>Miner: <a href="/address/{{ block.miner }}">{{ miners[block.miner.lower()] if block.miner.lower() in miners else 'unknown miner'}}</a></div>
      </li>
      {% endfor %}
      </ul>
    </div>
    <div class='col'>
      <div class='card'>
        <div class='card-body'>
          Latest Transactions
        </div>
      </div>
      <ul class='list-group list-group-flush'>
      {% for transaction in latest_transactions %}
      <li class='card'>
        <div>tx_hash: <a href="/tx/{{ transaction.hash.hex() }}">{{ transaction.hash[:15].hex() ~ '...' }}</a></div>
        <div>from: <a href="/address/{{ transaction.from }}">{{ transaction.from}}</a></div>
        <div>to: <a href="/address/{{ transaction.to }}">{{ transaction.to}}</a></div>
        <div>value (wei): {{ transaction.value}}</div>
      </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}